@model IEnumerable<WebApplication5.EDITEUR>


<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NOMED)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.ADRED)
        </th>
      
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NOMED)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ADRED)
    </td>
  
</tr>
}

</table>
